#mapTip {
  display: none;
  color: white;
  background: #13073A;
  border: 2px solid #887CAF;
  font-family: "Courier New", Times, serif;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 300px;
  border-radius: 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#zoneName {
  font-weight: bold;
  color: #FFD1AA;
}

#zoneCont {
  float: right;
}

#zoneWarning {
  color: red;
  font-style:italic;
}

.zoneDetails {
  font-size: .8em;
}
